<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Compare Transportation</title>
		<link rel="stylesheet" href="../static/css/style.css" />
	</head>
	<body class="container">
		<!-- Header Text -->
		<div class="header">
			<h1 class="header_text">Compare Transportation</h1>
		</div>

		<!-- Image -->
		<div class="mainImg">
			<img src="https://img.freepik.com/premium-vector/traffic-jam-with-cars-caravan-trailer-truck-driving-city-road-modern-cityscape-background-flat-horizontal-banner_48369-28042.jpg?w=2000">
		</div>

		<form action="/" method="POST">
			<div class="start_input_div">
				<label for="start">Starting Location:</label>
				{% if template_start %}
				<input id="start_input" type="text" name="start" value="{{template_start}}"/>
				{% else %}
				<input id="start_input" type="text" name="start"/>
				{% endif %}
			</div>

			<div class="destination_input_div">
				<label for="destination">Destination:</label>
				{% if template_start %}
				<input id="destination_input" type="text" name="destination" value="{{template_destination}}"/>
				{% else %}
				<input id="destination_input" type="text" name="destination" />
				{% endif %}
			</div>
			
			<div class="submit_button_div">
				<button type="submit" class="submit_button" name="submit" value="Submit Route">Submit</button>
			</div>
		</form>

		<!--
			If the full route is input, display it to the user.
			
			This display is just temporary for testing, a better
			way of displaying this to the user would probably
			include a visual map like the one provided
			by the Google Maps API.
		-->
		{% if template_start and template_destination %}
		<div class="output_text">
			<p>Start: {{template_start}}</p>
			<p>End: {{template_destination}}</p>
		</div>
		{% endif %}

		{% if template_routes %}
		{% for key in template_routes.keys() %}
			<p>{{template_routes[key]['method']}}</p>
			<ul>
				<li>Distance: {{template_routes[key]['distance']}}</li>
				<li>Duration: {{template_routes[key]['duration']}}</li>
			</ul>
		{% endfor %}
		{% endif %}

		<!--
			When importing a script,
			Import it at the bottom of body
		-->
		<script
			type="text/javascript"
			src="{{ url_for('static', filename='index.js') }}"
		></script>

		<!--
			Loading autocomplete API
			API Key has unrestricted access so anyone can use it

			issue:
				Places API requires a billing account, I'm not sure if
				there is a workaround for this 
		-->
		<script
			defer
			async
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2I6lXwiso9_4VJNNLEDxzRucjzVz8k5E&libraries=places&callback=initMap"
    	></script>

		<!--
			This script only loads if there is not a starting location already
			set. It will try to get the user's current location to autofill
			for start.
		-->
		{% if getLocation %}
		<script src="{{url_for('static', filename='user_autofill.js')}}"></script>
		{% endif %}

		<!-- header tag and paragraph tag for general info about the program -->
		<div class="about_us">
			<h1>About Us</h1>
		</div>

		<div class="info_text">
			<p>
				Compare Transportation is program designed to help people get around town efficiently!
				Enter your starting and ending destination, and our program will analyze the different
				routes and times for your trip.
			</p>
		</div>
	</body>
</html>
